.item-top-navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
    display: none;
}

.item-top-navbar-inner {
    min-height: 35px;
    background: #FFF;
    border-bottom: 1px solid #DDD;
    box-shadow: 0 0 10px #EEE;
    vertical-align: middle;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.item-metrics-counts-top-nav {
    font-weight: 300;
    text-align: center;
}

.item-metrics-counts-top-nav .article-item-metrics-label {
    font-size: 12px;
    margin-left: -3px;
}

.item-metrics-counts-top-nav .article-item-metrics-count {
    font-size: 18px;
    line-height: inherit;
    color: #444;
    margin-right: 4px;
}

.metric-counter {
  padding: 2px 10px 3px;
  border-radius: 2px;
  line-height: 1.5em;
  color: #444;
  margin-left: 2px;
  background: #D5E1E8;
  font-weight: 200;
  text-shadow: none;
}

.metric-counter-details-cta {
    font-size: 12px;
    color: #bbb;
}

.article-sidebar-block .metric-counter {
    font-size: 13px;
}

.flag-item-read {
    color: #777777;
    background: #eeeeee;
    border-bottom: 1px solid #ccc;
    padding: 6px;
    font-size: 14px
}

.flag-item-unread, .feedback-row {
    color: #444444;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    padding: 6px;
    font-size: 14px
}

.feedback-row .moderation-feedback-dates {
    font-weight: 300;
    font-size: 12px;
}

.label-score {
    background: #faa732;
}

.label-typo {
    background: #3a87ad;
}

.label-metadataError {
    background: #cccc00;
}

.label-qualityIssue {
    background: #468847;
}

.label-downloadIssue {
    background: #C6DFEC;
}

.label-communityAbuse {
    background: #f89406;
}

.label-misconduct {
    background: #4C0D11;
}

.label-majorCorrection {
    background: #B94A48;
}

.label-minorCorrection {
    background: #D59291;
}

.inactive {
    display: none;
}

.publication-prefix {
    margin: 14px 0 0 0;
}

.publication-prefix-cs {
    margin-top: 9px;
}

.publication-suffix {
  color: #F9FDFF;
  font-weight: 300;
  font-size: 13px;
}

.publication-label {
    float: left;
    font-size: 16px;
    padding: 6px 11px 6px 7px;
    margin: 10px 0 15px 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-weight: 200;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: baseline;
    line-height: 1.2;
    background: #02A7FC;
    color: #fff;
}

.publication-label:hover,
.publication-label:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0287CA;
    transition: all 0.3s ease;
}

.publication-label-general,
.publication-label-general:hover,
#notification-actions-mobile .btn-subscribe {
  background: #02A7FC;
  color: #fff;
  margin: 0 !important;
  border: 0;
  font-size: 17px !important;
  font-weight: 100;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  padding: 6px 10px 5px 6px;
  position: fixed !important;
  bottom: 0;
  left: 0;
  line-height: 22px;
  height: 23px;
  float: left;
  width: 33.33333333333%;
  z-index: 10;
  cursor: pointer;
}

#notification-actions-mobile .btn-subscribe {
    height: 34px;
}

.item-leftside-actions-preprint .publication-label {
    font-weight: 200;
}

.item-leftside-actions-preprint .publication-label-general,
.item-leftside-actions-preprint .publication-label-general:hover ,
#notification-actions-mobile .btn-subscribe {
    background: #FAA732;
}

.publication-label-middle,
.publication-label-middle:hover,
#notification-actions-mobile .btn-subscribe {
    /*left: 34%;*/
    margin-left: 33.33333333% !important;
}

.publication-label-right,
.publication-label-right:hover {
    /*left: 67%;*/
    margin-left: 66.6666666% !important;
}

.unfollow-btn {
    border-color: #cc0000;
    color: #F4F4F4 !important;
    background: #EC5656 !important;
}

.hidden-desktop .dropdown-menu {
    position: fixed;
    top: 38px;
}

.peer-reviewed {
    font-size: 11px;
    color: #aaa;
    font-weight: 300;
    letter-spacing: 0.25px;
}

.peer-reviewed.visible-phone {
    float: left;
    text-align: left;
    width: 100%;
    margin: 10px 20px 0 10px;
}

.peer-reviewed.hidden-phone {
    margin-top: 16px;
}


/* Article Left Sidebar */
.article-sidebar-left {
    position: fixed;
    margin-top:18px;
}

.legacy-b2-wrap .sidebar-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.25;
    height: 64px;
    width: 68px;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.legacy-b2-wrap .sidebar-box:hover {
    background-color: #0585C7;
}
.legacy-b2-wrap a.sidebar-box {
    text-decoration: none;
}
.legacy-b2-wrap a.sidebar-box:hover {
    color: white;
}

.legacy-b2-wrap .sidebar-box--action {
    background-color: rgb(238, 238, 238);
    color: rgb(153, 153, 153);
    font-size: 12px;
}

.legacy-b2-wrap .sidebar-box--action:hover {
    background-color: rgb(238,238,238);
}

.legacy-b2-wrap .sidebar-box--action .dropdown-menu {
    bottom: 100%;
    top: initial;
}

.legacy-b2-wrap .sidebar-box .dropdown-menu li {
    background: #ffffff;
}

.sidebar-box--journal {

}

.legacy-b2-wrap .sidebar-box--journal-mask {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: opacity .2s ease;
}
.legacy-b2-wrap .sidebar-box--journal-mask:hover {
    opacity: 0.2;
}

.legacy-b2-wrap .sidebar-box--tweet {
    font-size: 12px;
    background-color: #363636;
}

.legacy-b2-wrap .sidebar-box--related {
    background-color: #90A4AE;
    color: #ffffff !important;
    flex-direction: column;
}

.legacy-b2-wrap .sidebar-box--social {
    background-color: transparent;
    display: inline-block;
}
.legacy-b2-wrap .sidebar-box--social > .d-flex {
    width: 72px;
    flex-wrap: wrap;
}
.legacy-b2-wrap .sidebar-box--social-title {
    color: #339DDB;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: 1px solid #92CDEF;
    text-align: center;
    width: 68px;
}
.legacy-b2-wrap .sidebar-box--social:hover {
    background-color: transparent;
}

.item-leftside-actions .btn-share {
    color: rgb(153, 153, 153) !important;
}

@media (max-width: 767px) {

    .legacy-b2-wrap .sidebar-box--action-container {
        flex: auto;
    }

    .legacy-b2-wrap .item-leftside-actions {
        background: rgb(2, 167, 252);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        z-index: 100;
    }
    .legacy-b2-wrap  .item-leftside-actions > .sidebar-box {
        margin-right: 0;
        width: initial;
        flex-grow: 1;
        font-size: 16px;
        font-weight: 300;
        height: auto;
        background: transparent;
        color: white;
        display: flex;
        align-items: center;
        padding: 8px 0;
        margin-bottom: 0;
        color: white !important;
    }

    .legacy-b2-wrap .item-leftside-actions .btn-share {
        color: white !important;
    }

    .legacy-b2-wrap .article-sidebar-left {
        display: flex;
        margin-left: 8px;
    }
    .legacy-b2-wrap .sidebar-box {
        margin-right: 16px;
        flex-shrink: 0;
    }

    .legacy-b2-wrap .sidebar-box--action {
        flex: auto;
        margin: 0;
        border-radius: 0 !important;
    }

    /* Button style normalisation */
    .legacy-b2-wrap .sidebar-box--action {
        font-size: 16px;
        font-weight: 500 !important;
        height: 48px;
    }

    /* Fix position of share popup menu */
    .legacy-b2-wrap .item-leftside-actions .sidebar-box--action-container .dropdown-menu {
        position: absolute;
        margin: 0;
        top: -32px;
    }

}

@media (max-width: 978px) {
    /* Sidebar not fixed for mobile */
    .legacy-b2-wrap .article-sidebar-left {
        position: initial;
    }
}

@media (min-width: 979px){
    .legacy-b2-wrap .sidebar-box--action {
        display: none;
    }
}

/* End Article Left Sidebar */


.article-section-breadcrumb {
    margin: 13px 0 10px 0;
    font-size: 18px;
    line-height: 1.5;
    color: #90a4ae;
}

.article-section-breadcrumb-name {
    text-transform: uppercase;
}


@media (max-width: 979px) and (min-width: 768px) {
    .legacy-b2-wrap .publication-label-general,
    .legacy-b2-wrap #notification-actions-mobile .btn-subscribe {
        margin-right: -2px;
    }
}

@media (min-width: 768px) {
    .legacy-b2-wrap .item-leftside-actions {
      position: inherit;
    }

    .legacy-b2-wrap .publication-label {
        float: right;
    }

    .legacy-b2-wrap .publication-label-general,
    .legacy-b2-wrap .publication-label-general:hover,
    .legacy-b2-wrap #notification-actions-mobile .btn-subscribe {
        position: relative !important;
        left: 0;
        float: right;
        margin: 0 0 15px 0 !important;
        padding: 6px 10px 5px 6px;
        background: #eee;
        color: #999;
        border: 1px solid #eee;
        font-size: 12px !important;
        font-weight: 400;
        border-radius: 1px !important;
        -webkit-border-radius: 1px !important;
        -moz-border-radius: 1px !important;
        width: 50px;
        height: 50px;
        line-height: 48px;
    }

    .legacy-b2-wrap .publication-label-general:hover,
    .legacy-b2-wrap #notification-actions-mobile .btn-subscribe:hover {
        transition: all 0.3s ease;
        background: #ddd !important;
        border: 1px solid #ddd;
        color: #444;
    }

    .legacy-b2-wrap .item-leftside-actions-preprint .publication-label-general,
    .legacy-b2-wrap .item-leftside-actions-preprint .publication-label-general:hover,
    .legacy-b2-wrap #notification-actions-mobile .btn-subscribe {
        background: #eee;
    }

    .legacy-b2-wrap #notification-actions-mobile .btn-subscribe {
        height: 66px;
        width: 67px;
    }

    .legacy-b2-wrap .hidden-desktop .dropdown-menu {
        position: absolute;
        top: 100%;
    }
}

@media (min-width: 979px) {

    .legacy-b2-wrap .item-top-navbar {
        display: none !important;
    }

    .legacy-b2-wrap .item-leftside-actions {
      float: none;
    }

    .legacy-b2-wrap .publication-label {
        float: none;
        position: fixed;
        top: 68px;
        margin-left: 0px;
    }

    .legacy-b2-wrap .article-sidebar-social {
        display: flex;
        background: red;
    }

    .legacy-b2-wrap .article-sidebar-social:hover {
        opacity: 1;
        transition: all 0.3s ease;
    }

    .legacy-b2-wrap .item-action-buttons .btn-group {
        display: block !important;
        margin-bottom: 15px;
    }

    .legacy-b2-wrap .btn-article {
        width: 100%;
        padding: 9px 0 !important;
        font-size: 18px !important;
        font-weight: 400;
        border-radius: 4px !important;
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        background: #02A7FC !important;
        color: #fff;
        border-color: #02A7FC;
        letter-spacing: 0.02em;
        line-height: 1.5;
        box-shadow: none !important;
        box-sizing: border-box;
    }

    .legacy-b2-wrap .download-button-dropdown {
        width: 100%;
        box-sizing: border-box;
    }

    .legacy-b2-wrap .item-action-buttons.article-sidebar-item {
        padding-bottom: 16px;
    }

    .legacy-b2-wrap .download-button-group {
        margin-bottom: 11px !important;
    }

    .legacy-b2-wrap .btn-article-icon {
        font-size: 22px;
        vertical-align: middle;
    }

    .legacy-b2-wrap .content_alert_email {
        width: 100%;
        box-sizing: border-box;
    }

    .legacy-b2-wrap #content_alert_email,
    .legacy-b2-wrap #content_alert_frequency {
        margin-bottom: 23px;
        width: 100%;
    }

    .legacy-b2-wrap .subjects-email {
        margin-left: 28px !important;
    }

    /*.btn-article:hover {*/
        /*transition: all 0.3s ease;*/
        /*box-shadow: 0 1px 13px -3px #888 !important;*/
        /*color: #eee;*/
    /*}*/

    .legacy-b2-wrap .btn-download:hover, .btn-download:active {
        background: #0585C7 !important;
        color: #eee;
    }

    .legacy-b2-wrap .btn-subscribe {
        background: none !important;
        border-color: #02A7FC;
        color: #02A7FC;
        width: 100%;
    }

    .legacy-b2-wrap .btn-download.btn-preprint,
    .legacy-b2-wrap .btn-download.btn-preprint:hover {
        border: 1px solid #FAA732;
        background: #FAA732 !important;
    }

    .legacy-b2-wrap .btn-download.btn-preprint:hover {
        background: #CA8729 !important;
        border: 1px solid #FAA732;
    }

    /*.btn-subscribe:hover {*/
        /*color: #64AED3;*/
        /*border-color: #64AED3;*/
        /*background: #fafafa !important;*/
    /*}*/

    .legacy-b2-wrap .unfollow-btn {
        color: #fff !important;
        background: #EC5656 !important;
        border: 1px solid #EC5656 !important;
    }

    .legacy-b2-wrap .unfollow-btn:hover {
        background: #CA4949 !important;
    }

    /*.follow-btn {*/
        /*box-shadow: 0 1px 13px -3px #bbb !important;*/
    /*}*/

    .legacy-b2-wrap .notification-actions-btn .btn-preprint,
    .legacy-b2-wrap .notification-actions-btn .btn-preprint:hover {
        font-size: 16px !important;
        /*color: #FAA732;*/
        border-color: #FAA732;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    /*.btn-subscribe {*/
        /*width: 115px;*/
    /*}*/

    .legacy-b2-wrap .notification-actions-btn .btn-preprint {
        font-size: 18px;
    }
}

.item-top-navbar-inner [class*="span"] {
    display: inline !important;
}

/** Todo notice sidebar */
.todo-notice:hover, a.todo-notice:active, a.todo-notice:focus {
    text-decoration: none;
}

.todo-notice:hover .peerj-paper-form {
    background: #f1f1f1;
    transition: all 0.3s ease;
}

a.todo-notice:hover, a.todo-notice:active, a.todo-notice:focus {
    text-decoration: none;
}

.todo-notice .peerj-paper-form.paper-attention {
    background: #F0E6EA;
}

.todo-notice:hover .paper-attention legend {
    background: #C2044C;
    transition: all 0.3s ease;
}

.todo-notice .peerj-paper-form.paper-green {
    background: #EEF5EF;
}

.todo-notice:hover .peerj-paper-form.paper-green {
    background: #E6EFE8;
}

.todo-notice:hover .paper-green legend {
    background: #4A8856;
    transition: all 0.3s ease;
}

.todo-notice-content {
  padding: 15px 15px 35px 15px;
  font-size: 56px;
  font-weight: 300;
  text-align: center;
  line-height: 56px;
  color: #444;
}

.todo-notice:hover .todo-notice-content {
    color: #333;
}

.todo-notice:hover .paper-green .todo-notice-content {
    color: #315F3A;
}

.paper-green .todo-notice-content {
    color: #4A8856;
}

.todo-info-box {
    background: #EEF5EF;
}

.todo-info-box .peerj-general-header-box h1,
.todo-info-box .peerj-general-header-box p,
.todo-info-box .peerj-general-header-box .help-block {
    color: #203C26;
    text-shadow: none;
}

.todo-info-box .peerj-general-header-box p {
    font-size: 15px;
    line-height: 1.4;
    font-weight: 200;
}

.todo-info-box .peerj-general-header-box ul li {
    font-weight: 200;
}

.todo-notice-help {
    font-size: 14px;
}



/** Todo heading */
.todo-publication-container {
    margin-bottom: 40px
}

.todo-publication-container .subject-article {
    background: none !important;
    border-left: 1px solid transparent !important;
    padding: 0;
}

.todo-header-introtext {
    color: #686868;
    display: block;
    font-size: 16px;
    line-height: 1.5em;
    padding: 14px;
}

.article-sidebar .todo-publication-container {
    border: 1px solid #eee;
    border-radius: 2px;
    margin-top: 20px;
}

.todo-heading {
    border-bottom: 1px solid #eeeeee;
    color: #484848;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 25px;
    padding: 8px 0 11px;
}

.tip-highlight {
    color: #ec0a56;
}

.todo-list {
    padding: 10px;
}

.article-sidebar .todo-list {
    padding: 22px 10px 9px;
}

.view-all-todos-button {
    margin: 8px 0 7px;
}

.todos-header {
    font-size: 15px;
    padding-bottom: 7px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 17px;
}

.outstanding-todos-group .completed-label {
    font-weight: 500;
    color: #286bb5;
}

.todos-total {
    background: #ededed;
    padding: 9px 16px 12px;
    font-size: 16px;
    margin-top: 15px;
    color: #6f6f6f;
}

.todos-total > div > div {
    min-height: auto !important;
}

.total-count {
    padding-left: 3px;
}

.share-count {
    color: #bababa;
}

.todo-article-view .share-count {
    display: none !important;
}

.column-header-views {
    padding-left: 15px;
}

.column-header-action {
    padding-left: 19px;
}

.todo-button {
    margin-top: -5px;
    width: 43px;
}

.todo-list:hover, .todo-publication-container.hover-state .todo-list {
    background: #fafafa;
}

/** Remaining todos */
.completed-task-form,
.completed-task {
    margin: 0 0 10px 0 !important;
}

.completed-task-form .row-fluid {
    display: inline-block;
}

.completed-task-form .completed-checkbox input {
    vertical-align: top;
}

.completed-checkbox {
    float: left;
    height: 30px;
    margin-right: 15px;
}

.completed-task-form .completed-label label,
.completed-todo-name {
    font-size: 15px;
}

.article-sidebar .completed-task-form .completed-label label {
    font-size: 14px !important;
    line-height: 1.4em;
}

.help-saving {
    display: none;
    color: #2AA92A;
}

/** Completed todos */

.completed-todo-name {
    font-weight: 200;
}

.article-sidebar .completed-todo-name {
    font-size: 14px;
}

.todo-date {
    color: #888;
}

/** Share tools */
.share-form {
    margin-top: -10px;
    display: inline-block;
    font-size: 12px;
}

.share-form a {
    text-decoration: underline;
}

/* Link copy modal */

.todo-link-content {
    margin: 20px 17px;
}

.peerj-modal-body textarea {
    resize: none;
    white-space: nowrap;
    overflow-x: hidden;
    font-weight: 500 !important;
    width: 90%;
    cursor: text;
}



/** on profile edit */
.user-subject-item, .user-subject-item-edit {
    float: left;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 18px 5px;
    border-radius: 2px;
    margin: 5px;
    width: 195px;
    text-align: center;
    background: #30A5ED;
    color: #FFF;
    font-weight: 200;
    font-size: 15px;
}

.user-subject-item-edit {
    background: #F1F1F1;
    color: #999;
    cursor: pointer;
    border: 3px dashed #ddd;
    padding: 15px 2px;
}

.user-subject-item-edit:hover {
    box-shadow: inset 2px 5px 20px #ddd;
}

.user-subject-item .subject-primary-selected {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 17px;
}

/** start modal dialog */
#subject-server-message {
    color: red;
    font-weight: 200;
}

.subjects-modal form {
    margin: 0;
}

.subjects-modal .input-subject-search {
    float: right;
    margin-right: 10px;
    height: 15px;
    margin-top: 3px;
    font-size: 13px;
    font-weight: 200;
}

.subjects-modal .input-subject-search i {
    font-size: 12px;
    position: relative;
    top: -4px;
}

.subjects-modal .input-subject-search input {
    height: 16px;
}

.subjects-modal .modal-header {
    display: none;
    border-bottom: 1px solid #ddd;
    background: #F5F5F5;
}

.subject-modal-title .modal-icon {
    font-size: 19px;
    margin-right: 2px;
}

.subjects-modal .modal-header h3 {
    color: #0088C9;
    text-align: left;
    font-weight: 400;
}

.subjects-modal-body {
    height: 250px;
    overflow-y: auto;
}

.subjects-modal-sidebar {
    display: none !important;
    font-size: 15px;
}

.subject-primary-selected {
    color: orange !important;
}

/* Table */
.subject-primary {
    font-size: 16px;
    color: #CCC;
}

.subject-primary:hover {
    color: #C2AE7C;
    cursor: pointer;
}

.subject-list-row div {
    margin-right: 3px;
    display: inline-block;
}

.subject-list-row div.subject-item-type {
    margin-right: 0;
}

.subject-list-row:hover {
    background: #DFF0FC;
}

.subject-checkbox {
    vertical-align: super;
}

td.subject-item-type {
    color: #aaa;
    font-size: 12px;
    vertical-align: middle;
}

.subject-item-new {
    color: #fff;
    background: #2196F3;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 2px;
}

.subject-item-description {
    color: #888;
    font-size: 12px;
    padding-left: 22px;
}

@media (min-width: 540px) {
    .subjects-modal .modal-header {
        display: block;
    }
}

@media (min-width: 768px) {
    .subjects-modal {
        width: 95% !important;
        left: 15px  !important;
        margin-left: 0px !important;
    }

    .subjects-modal-sidebar {
        display: block !important;
        background: #F5F5F5;
        border-right: 1px solid #ddd;
        padding: 15px;
        height: 255px;
        overflow-y: auto;
    }

    .subjects-modal-sidebar h5 {
        font-weight: 400;
        color: #888;
    }

    .subjects-modal-sidebar #no-primary-selected {
        color: #F7871C;
    }

    .subjects-modal-sidebar #no-primary-selected .icon-warning-sign {
        color: #bbb;
    }

    .subjects-modal-sidebar #sidebar-primary-selection {
        display: none;
    }

    .subjects-modal-sidebar p, .subjects-modal-sidebar h5 {
        padding: 1px 3px;
    }

    .subjects-sidebar-filter p:hover, .subjects-sidebar-filter p.active {
        background: #e1e1e1;
        cursor: pointer;
    }
}

@media (min-width: 980px) {
    .subjects-modal {
        width: 960px !important;
        left: 50%  !important;
        margin-left: -480px !important;
    }
    .subjects-modal-body, .subjects-modal-sidebar  {
        height: 350px;
    }
}

@media (min-width: 1200px) {
    .subjects-modal-body, .subjects-modal-sidebar  {
        height: 400px;
    }
}
